 #container {
    display: flex;
    flex-wrap: wrap;
}

.maincontainer {
    width: 558px;
    display: flex;
    margin: 10px;
    padding: 40px 0px 40px 40px;
    border: 5px solid black;
}
.img{
    width: 250px;
    height: 250px;

}
.data{
    padding-left:20px ;
}
.category{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.filter{
    margin: 0px;
justify-content: space-around;
align-items: center;

}
.filterContainer{
    padding-left: 10px;
    padding-right: 10px;
}
button{
    font-size: 25px;
    border-radius: 5px;
    border:2px solid black;
    background-color: rgb(199, 75, 220);
    color: white;
}